<div class="container preview">
  <%= form_for [@story, @story.comments.new] , html: { multipart: true } ,:remote => true , :authenticity_token => true do |f| %> 

    <i class="fa fa-user-circle-o fa-2x" aria-hidden="true"></i>
    <%= f.text_field :commenter,:value => current_user.name,:readonly => true%>
    <div class="container">
      <div class="row">
        <div class="col-sm-10" >    
          <%= f.text_area :comment_body ,:required => 'required',:place_holder => "說說我的想法",:id => "comment-text",style:"width: 100%; " %><br>
        </div>
        <div class="col-sm-2" > 
          <%= f.submit "留言",class:"btn-default", id:"btn"%> 
          <%#= f.file_field :image ,:id => "image-text" ,class:"file" %>
          <div class="upload-preview">
         	  <%# if @story.comments.new.image.url %>		
       			  <%#= image_tag @story.comments.new.image.url, class:"resize-small" %>
            <%# end %>
				  </div>
        </div>
      </div>
    </div>

  <% end %>
						
</div>

<script type="text/javascript">
 $("document").ready(function(){
	
	
	var preview = $(".upload-preview img");
    $(".file").change(function(event){
       var input = $(event.currentTarget);
       var file = input[0].files[0];
       var reader = new FileReader();
       reader.onload = function(e){
           image_base64 = e.target.result;
           preview.attr("src", image_base64);
       };
       reader.readAsDataURL(file);
    });
    
	});
</script>