// Place all the styles related to the account/stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.editable{
  border: 1px dashed;
  height:200px;
}

.col-md-12{
 margin-bottom: 30px;
}

.top{
		width: 100%;
	}