<h1>謝謝您的愛心.....，您的捐款資訊如下:</h1>

<div class="container">
	用戶名稱：<%= @donation.user.name %> <br>
	您購買的單位:<%= @donation.unit %> <br>

</div>

<%= link_to '回到產品頁面', projects_path ,class:"btn btn-default"%>

