// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.carousel{
		width:100%;
		height:100%;
	}
	.ppt{
		width: 100%;
		height:600px;
		}
	.project{
		min-height: 400px;
	}
.carousel {
    width: 100%;
    height: 300px;
  }
  .carousel-inner {
    width: 100%;
    height: 300px;
  }

  .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    max-width: 100%;
    height: 300px;
    line-height: 1;
   }

	.project {
		min-height: 300px;
	}

	.strong{
		font-size: 26px;
	}


