// Place all the styles related to the product_donations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
	.donations{	
		min-height: 400px;
	}

	p{
	 font-size:20px;
	}

	.field{
		width:200px;
		height:30px;
	}

	.pay{
		width: 200px;
		height: 30px;
	}